.categories-mobile-container {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  bottom: 7%;

  width: 100%;
  max-height: 70%;
  background-color: var(--bg-secondary);
  padding: 2rem;
  padding-top: 3rem;
  border: 1px solid var(--c-gray-ligth);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  box-shadow: 0px -4px 5px 0px #c9c3c4;
  z-index: var(--top-index);
}

.categories-mobile-cards {
  overflow-y: scroll;
  width: 100%;
  gap: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.category-mobile-card {
  text-align: center;
  color: var(--c-primary);
  border-radius: var(--b-radius);
  display: grid;
  place-items: center;
  gap: .5rem;
  width: 150px;

  padding: 1rem;
  background-color: var(--bg-primary);
}

@media only screen and (max-width: 768px) {
  .categories-mobile-cards {
    grid-template-columns: 1fr 1fr 1fr;
    scrollbar-width: none;
  }

  .categories-mobile-cards::-webkit-scrollbar {
    display: none;
  }

  .category-mobile-card {
    margin: auto;
  }
}

@media only screen and (max-width: 425px) {
  .categories-mobile-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 380px) {
  .categories-mobile-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .categories-mobile-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .category-mobile-card {
    background-color: transparent;
    border-radius: 0px;
    display: flex;
    width: 100%;
    padding: .5rem;
  }
}