.header-container {
  min-height: 5rem;
}

.header-container nav {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  background-color: var(--c-white);
  box-shadow: 0px 2px 5px -1px #c9c3c4;

  width: 100%;
  position: fixed;
  z-index: var(--top-index);
}

.form-container {
  width: 50%;
}

.search-container {
  display: flex;
  border: 1px solid var(--c-gray-ligth);
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  transition: border 0.2s ease;
}

.search-container:hover {
  border: 1px solid var(--c-primary);
}

.search-container:hover > .btn-submit {
  border-left: 1px solid var(--c-primary);
}

.search-icon {
  color: var(--c-dark);
  font-size: 1.4rem;
  position: absolute;
  left: 0.8rem;
  top: 0.7rem;
  transition: color 0.2s ease;
}

.search-input {
  width: 75%;
}

.search-input > input {
  width: 100%;
  padding: 0.8rem;
  padding-left: 2.5rem;
}

.search-input:has(input:focus) > .search-icon {
  color: var(--c-primary);
}

.search-container:has(input:focus) {
  outline: 1.5px solid var(--c-primary);
}

.btn-submit {
  border-left: 1px solid var(--c-gray-ligth);
  background-color: var(--c-light);
  width: 25%;
  padding: 0.8rem;
  transition: border 0.2s ease;
}

.cart-logo-container {
  display: grid;
  place-items: center;
}

.cart-icon {
  font-size: 1.5rem;

  width: 50px;
  height: 50px;

  display: grid;
  place-items: center;

  background-color: var(--bg-card);
  box-shadow: 0px 2px 4px 3px #e5ddce;
  color: var(--c-primary);
  border-radius: 50%;

  cursor: pointer;
  position: relative;
}

.cart-icon::before {
  color: var(--c-white);
  content: attr(total-products);
  font-size: 0.9rem;
  background-color: var(--c-red);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -5px;
}

.cart-icon > svg {
  font-size: 2rem;
}

/* Mobile form */

.active-home-icon {
  display: block;
}

.deactive-home-icon {
  display: none;
}

.search-icon-mobile > svg {
  font-size: 1.7rem;
}

.form-mobile {
  display: none;
  width: 4%;
  transition: all 0.4s ease;
}

.search-icon-mobile {
  color: var(--c-primary);
  height: 100%;
  display: grid;
  place-items: center;
}

.active-icon {
  position: absolute;
  z-index: var(--top-index);
  left: 0.7rem;
}

.active-form {
  position: relative;
  display: flex;
  margin: auto;
  width: 70%;
}

.deactive-input {
  display: none;
}

/* ----- */

@media only screen and (max-width: 768px) {
  .form-mobile {
    display: inherit;
  }

  .header-container nav {
    justify-content: flex-end;
  }

  .header-container nav .home-icon-container {
    position: absolute;
    right: 50%;
  }

  .header-container nav .home-icon-container::before {
    bottom: -6px;
  }

  .form-container {
    display: none;
  }

  .cart-logo-container {
    align-self: flex-end;
  }

  .cart-icon {
    width: 45px;
    height: 45px;
    box-shadow: none;
    background-color: transparent;
  }

  .cart-icon::before {
    top: 0;
    right: 0;
  }

  .cart-icon > svg {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .form-container {
    display: none;
  }

  .header-container nav {
    justify-content: flex-end;
    gap: 0.7rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .active-form {
    width: 80%;
  }
}

@media only screen and (max-width: 320px) {
  .search-input {
    width: 70%;
  }

  .btn-submit {
    width: 30%;
  }
}
