.header-container {
  min-height: 5rem;
}

.header-container nav {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  background-color: var(--c-white);
  box-shadow: 0px 2px 5px -1px #c9c3c4;

  width: 100%;
  position: fixed;
  z-index: var(--top-index);
}

.form-container {
  width: 50%;
}

.search-container {
  display: flex;
  border: 1px solid var(--c-gray-ligth);
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  transition: border 0.2s ease;
}

.search-container:hover {
  border: 1px solid var(--c-primary);
}

.search-container:hover > .btn-submit {
  border-left: 1px solid var(--c-primary);
}

.search-icon {
  color: var(--c-dark);
  font-size: 1.4rem;
  position: absolute;
  left: 0.8rem;
  top: 0.7rem;
  transition: color 0.2s ease;
}

.search-input {
  width: 75%;
}

.search-input > input {
  width: 100%;
  padding: 0.8rem;
  padding-left: 2.5rem;
}

.search-input:has(input:focus) > .search-icon {
  color: var(--c-primary);
}

.search-container:has(input:focus) {
  outline: 1.5px solid var(--c-primary);
}

.btn-submit {
  border-left: 1px solid var(--c-gray-ligth);
  background-color: var(--c-light);
  width: 25%;
  padding: 0.8rem;
  transition: border 0.2s ease;
}

.cart-logo-container {
  display: grid;
  place-items: center;
}

.cart-icon {
  font-size: 1.5rem;

  width: 50px;
  height: 50px;

  display: grid;
  place-items: center;

  background-color: var(--bg-card);
  box-shadow: 0px 2px 4px 3px #e5ddce;
  color: var(--c-primary);
  border-radius: 50%;

  cursor: pointer;
  position: relative;
}

.cart-icon::before {
  color: var(--c-white);
  content: '3';
  font-size: 0.9rem;
  background-color: var(--c-red);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -5px;
}

.cart-icon > svg {
  font-size: 2rem;
}
