@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,600&display=swap');

/* Color Palette */
:root {
  --bg-primary: #fff;
  --bg-secondary: #f3f5f9;
  --bg-tertiary: #f6f9fc;
  --bg-card: #f5f5f5;
  --c-dark: #2b3445;
  --c-darker: #222935;
  --c-white: #fff;
  --c-light: var(--bg-secondary);
  --c-gray: #7c828d;
  --c-gray-ligth: #d3d3d4;
  --c-primary: #4bb4b4;
  --c-primary-dark: #257181;
  --c-red: #b44b4b;
  --c-green: #4bb45d;
  --c-yellow: #ebc90c;
}

:root {
  --main-padding-left: 3.5rem;
  --main-padding-right: 3.5rem;
  --cart-index: 20;
  --shadow-index: 15;
  --top-index: 10;
  --mid-index: 5;
  --b-radius: 5px;
}

/* Configs */
:root {
  font-size: 16px;
  font-weight: 500;

  color: var(--c-dark);
  background-color: var(--bg-primary);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--bg-tertiary);
}

.stop-scroll {
  overflow-y: hidden;
}

a {
  color: var(--c-dark);
  text-decoration: none;
}

button {
  font-weight: bold;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  padding: 0;
}

.icon {
  font-size: 1.5rem;
}

main {
  padding: 2rem;
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
}
